#nginx config   command to acces to this file : sudo nano /etc/nginx/sites-available/default
server {
    listen 8080;
    server_name localhost;

    root /var/www/html;  # Carpeta arrel dels teus fitxers
    index index.php index.html index.htm;

    # Bloc principal per a arxius estàtics i routing
    location / {
        try_files $uri $uri/ /server.php;
    }

    # Processar fitxers PHP
    location ~ \.php$ {

        fastcgi_split_path_info ^(/server.php)(/.+)$;
        fastcgi_pass unix:/var/run/php/php8.3-fpm.sock;
        fastcgi_index server.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param PATH_INFO $fastcgi_path_info;     
    }

    # Protegir arxius .htaccess
    location ~ /\.ht {
        deny all;
    }
